# planning-reform-national-planning-api-mvp

Terraform for the Planning Reform National Planning API MVP, specifically the AWS Resources.

## Primary Resources Created

### IAM

This creates the iam policies regarding github access, copilot instantiation, and attaches them to a role

README.md generated via:

```bash
{
	cat README.tmpl
	terraform-config-inspect .
} > README.md
```

RESOURCES:
